:root {
    --main-color1: #006D77;
    --main-color2: #42999B;
    --main-color3: #83C5BE;
    --main-color4: #EDF6F9;
    --main-color5: white;
    --color-deeppurple: rgba(86,36,87,1);
    --text-color1: white;
    --text-color2: white;
    --text-color3: white;
    --text-color4: black;
    --text-color5: black;
    --text-opacity: white;
    --link-color: white;
    --alert-color: #CF3C18;
    --text-alert: white;
    --code-background: #f8f8f8;
    --code-inline-color: white;
    --code-text-color: black;
    --code-highlight: rgba(136, 57, 138, 0.3);
    --color-opacity70: rgba(86,36,87,0.7);
    --color-opacity50: rgba(86,36,87,0.5);
    --color-opacity30: rgba(86,36,87,0.3);
    --logo: url("https://emitanaka.github.io/ninja-theme/images/R-LadiesGlobal-transparent.png");
}


.title-slide-shannon{
  color: white;
}


/*-- Links/anchors --*/
a, a > code {
  line-height: 2rem;
}
/*-- Links/anchors upon hovering --*/
a:hover { 
  border-bottom: 2px solid white;
}
/*-- Prose Text --------*/
/* controls size of prose text but not headings */
.remark-slide-content {
  font-size:          1.2em;
}
/*-- Inline code --*/
/* 1rem = 16px, 1em = 20px, em here means it depends on the size of .remark-slide-content (above). For example, using 0.8em or 80% instead would make the text 80% as large as the .remark-slide-content text size (1.25em above) */
.remark-code, .remark-inline-code {
  font-size:          1em;
  background-color: rgba(255,255,255,0.25);
  border-radius: 1px;
  padding: 0.1em 0.25em 0.1em 0.25em;
}

/*-- padding left --*/
.p-left {
  padding-left: 150px;
}